@model IEnumerable<WMS.WebUI.Models.OrderEntry>
@{
    ViewBag.Title = "GetOrderEntry";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Master</a></li>
    <li class="breadcrumb-item active">Order entry</li>
</ol>
<hr />
<h2 class="page-title">
    Manage Order entry
</h2>
<p>
    <a href="@Url.Action("OrderEntry", "Order")" class="btn btn-success btn-shadow">
        Order Entry
        <span class="fa fa-plus-circle" aria-hidden="true"></span>
    </a>
</p>
<table id="Order" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Supplier
            </th>
            <th>
                Product
            </th>
            <th>
                Product number
            </th>
            <th>
                Cost/Product
            </th>
            <th>
                Quantity
            </th>
            <th>
                Entry Date
            </th>
            <th>
                Unit
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostPerProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitName)
            </td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-danger">Action</button>
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="@Url.Action("Edit","Order")?UniqueId=@item.StockId">Edit</a>
                        <a class="dropdown-item" href="@Url.Action("PrintOrderEntry","Order")?UniqueId=@item.StockId">Print</a>
                        @*<a class="dropdown-item" href="@Url.Action("Details","Order")?UniqueId=@item.StockId">Details</a>
        <a class="dropdown-item" href="@Url.Action("Delete","Order")?UniqueId=@item.StockId">Delete</a>*@
                    </div>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#Order').DataTable();
        });
    </script>
}

